:root {
    /* Colors */
    --greyscale-00: #F9F9F9;
    --greyscale-50: #CACACA;
    --greyscale-100: #9EA0AF;
    --interaction-00: #6421FF;
    --interaction-50: #6E2CFF;
    --interaction-100: #4D4A58;
    --interaction-150: #34313E;
    --background: #090B12;
    --branding-00: 90deg, #E63B61 0%, #ED7432 100%;
    --branding-50: 90deg, #ED7432 0%, #E63B61 100%;

    --main-font: Inter;
}

/* Conteúdo da página */

.container-principal {

    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;

    height: 100vh;
    
    padding: 96px;
}

.container-principal-logo {
    height: 244px;
}

.container-principal-descricao {
    font-size: 20px;
    width: 70%;
    text-align: center;
}

.container-principal-planos {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    column-gap: 24px;
}

.planos-itens {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

/* Container Secundario */

.container-secundario {
    padding: 96px;

    display: flex;
    flex-direction: column;
    row-gap: 32px;

    text-align: center;
}

.container-secundario-vantagens {
    display: flex;
    column-gap: 24px;
}

.vantagens-item {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    width: 33.33%;
}

.vantagens-item-especial {
    background-image: url('./assets/vantagens-especial-background.png');

    display: flex;
    flex-direction: column;
    row-gap: 24px;

    width: 33.33%;
}

.item-logo {
    height: 64px;
}

.item-descricao {
    font-size: 18px;
    line-height: 27px;
    
    color: var(--greyscale-50);
}

.container-secundario-aviso {
    font-size: 10;
    line-height: 15px;

    color: var(--greyscale-100);
}

/* Container Planos */

.container-secundario-planos {
    display: flex;
    column-gap: 32px;
}

.planos-item {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    width: 33.33%;

    padding: 32px 0;
}

.planos-item-especial {
    background-image: url('./assets/vantagens-especial-background.png');
    background-size: 100%;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    row-gap: 24px;

    width: 33.33%;

    padding: 32px 0;
}

.plano-descricao {
    font-size: 18px;
    
    color: var(--greyscale-50);
}

/* Container Terciario */

.container-terciario {
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    padding: 96px
}

.container-terciario-descricao {
    font-size: 16px;
    line-height: 24px;

    color: var(--greyscale-50);
}

.container-terciario-imagem {
    width: 100%;
}

/* Container Quarto */

.container-quarto {
    display: flex;
    column-gap: 24px;

    padding: 96px;

    justify-content: center;
    align-items: center;
}

.container-quarto-texto {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.texto-descricao {
    font-size: 18px;
    line-height: 27px;

    color: var(--greyscale-50);
}

/* Container Quinto */ 

.container-quinto {
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    padding: 96px;

    text-align: center;
}

.container-quinto-series {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    text-align: center;
}

.series-imagem {
    width: calc(33.33% - 16px);
}


/* Container Devices */

.container-devices {
    padding: 96px;
    text-align: center;
}

.container-devices-devices {
    margin-top: 32px;
    display: flex;
    column-gap: 24px;
}

.devices-itens {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    width: 33.33%;
    text-align: center;
}

.itens-texto {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}


/* Tablet */ 

@media (min-width: 740px) and (max-width: 1439px) {

    /* Container Principal */

    .container-principal {
        height: 100%;
        padding: 32px;
    }
    
    .container-principal-logo {
        height: 175px;
    }
    
    .container-principal-planos {
        flex-direction: column;
    }


    /* Container Secundario */

    .container-secundario {
        padding: 96px 32px;
    }

    .container-secundario-vantagens {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
    }

    .vantagens-item {
        width: 100%;
    }

    .container-secundario-planos {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .planos-item-especial {
        width: 60%;
    }

    .planos-item {
        width: 60%;
    }

    /* Container Terciario */

    .container-terciario {
        padding: 96px 32px;
    }

    /* Container Quarto */ 

    .container-quarto {
        flex-direction: column;
        padding: 96px 32px;
        text-align: center;
    }

    .container-quarto-texto {
        order: 1;
    }

    /* Container Quinto */

    .container-quinto {
        padding: 96px 32px;
    }

    .container-quinto-series {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .series-imagem {
        width: calc(50% - 12px);
    }

    /* Container Devices */

    .container-devices {
        padding: 96px 32px;
    }

    .container-devices-devices {
        flex-wrap: wrap;
    }

    .devices-itens {
        width: calc(50% - 16px);
    }

}

/* Mobile */

@media (min-width: 360px) and (max-width: 739px) {

    /* Container Principal */

    .container-principal {
        padding: 88px 16px;
        height: 100%;
    }

    .container-principal-logo {
        height: 84px;
    }

    .container-principal-descricao {
        width: 100%;
    }

    .container-principal-planos {
        flex-direction: column;
        row-gap: 32px;
    }

    /* Container Secundário */

    .container-secundario {
        padding: 88px 16px;
    }

    .container-secundario-vantagens {
        flex-direction: column;
        row-gap: 32px;
    }

    .vantagens-item {
        width: 100%;
    }

    .container-secundario-planos {
        flex-direction: column;
    }

    .planos-item {
        width: 100%;
    }
    
    .planos-item-especial {
        width: 100%;
    }

    /* Container Terciario */

    .container-terciario {
        padding: 88px 16px;
    }

    /* Container Quarto */

    .container-quarto {
        padding: 88px 16px;
        flex-direction: column;
        row-gap: 32px;
    }

    .container-quarto-texto {
        order: 1;
    }

    .container-quarto-imagem {
        width: 100%;
    }

    /* Container Quinto */

    .container-quinto {
        padding: 88px 16px;
    }

    .container-quinto-series {
        gap: 16px;
        justify-content: center;
        align-items: center;
    }

    .series-imagem {
        width: calc(50% - 8px);
    }

    /* Container Devices */

    .container-devices {
        padding: 88px 16px;
    }

    .container-devices-devices {
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 16px;
    }

    .devices-itens {
        width: calc(50% - 8px);
    }

}